body {
    background-color: #0b0e11; /* Mörkgrå/Svart bas */
    color: #c9d1d9; /* Ljusgrå text för att inte trötta ut ögonen */
    font-family: 'VT323', monospace;
    margin: 0;
    overflow: hidden; /* Förhindrar scroll på startsidan */
}

/* En container som centrerar allt på skärmen */
.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5; /* Gör bilden lite genomskinlig */
}

.title {
    font-size: 5rem;
    color: #ff4e00; /* Emergency Orange */
    text-shadow: 2px 2px 0px #000, 0 0 20px rgba(255, 78, 0, 0.5);
    margin-bottom: 0;
    letter-spacing: 5px;
}

.divider {
    height: 4px;
    width: 200px;
    background-color: #ff4e00;
    margin: 10px auto 20px auto;
}

.subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* Den stora knappen */
.btn-start {
    background: transparent;
    border: 2px solid #ff4e00;
    color: #ff4e00;
    padding: 15px 40px;
    font-size: 1.8rem;
    font-family: 'VT323', monospace;
    cursor: pointer;
    transition: all 0.2s ease;
}
    .btn-start:hover {
        background: #ff4e00;
        color: #000;
        box-shadow: 0 0 15px #ff4e00;
        transform: scale(1.05);
    }